.background-img {
  background-image: url("image_interview_react/headbanner.png");
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}

.hero-title {
  text-shadow: 0px 6px 3px silver;
}